# Virtual environments
.venv/
.venv
venv/

# Python cache
__pycache__/
*.pyc

# Build artifacts
dist/
build/
*.egg-info/

# Environment variables
.env

#Jupyter Notebooks
.ipynb_checkpoints/

#Others
tmp/
logs/
notebooks/
